* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* COMMON */
.ciano {
    background-color: aqua;
}

/* HEADER */
header {
    padding: 0 2rem;
    background-color: white;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    padding: .2rem 1rem;
}

/* MAIN */
main {
    width: 100%;
    height: calc(100vh - 160px);
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 40%;
    margin: 0 auto;
    background-color: blue;
    display: flex;
    flex-wrap: wrap;
}

.cell10 {
    width: calc(100% / 10);
}

.cell9 {
    width: calc(100% / 9);
}

.cell7 {
    width: calc(100% / 7);
}

.cell10, .cell9, .cell7 {
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    background-color: whitesmoke;
}

/* FOOTER */
footer {
    padding: 0 2rem;
    background-color: white;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
}